<h1>Feature engineering</h1>
<h2> Plan : </h2>
<ol>
    <li>Finalisation de la BD</li>
    <li>Suprresion des collnes en NaN</li>
    <li>Remplacer les valeurs en NaN</li>
    <li>Vectorisation et normalisation des valeurs en float64</li>
</ol>
<h3>1/- Finalisation de la BD : </h3>

In [2]:
import pandas as pd

In [2]:
pwd

'/home/azseza/Desktop/DataMin/APMBT_DataMining/DataInit/makingDB'

In [3]:
ls

 corpData.csv                 finalSocialData.csv
'Feature Engineering.ipynb'  'Tunindex Historical Data.csv'

In [76]:
corp = pd.read_csv('corpData.csv')
soc = pd.read_csv('finalSocialData.csv')
tunInx = pd.read_csv("Tunindex Historical Data.csv")

In [77]:
eg = tunInx.at[660,"Date"]
eg

'Apr 16, 2018'

In [78]:
def realDate(fDate):
    mont = fDate[:3]
    day = fDate[4:6]
    if len(day) == 1 :
        day = '0'+day
    year = fDate[-4:]
    monts = dict
    monts ={'Jan': '01', 'Sep': '09', 'Dec': '12', 'May': '05',
        'Feb': '02','Jul': '07','Aug': '08','Oct': '10','Nov': '11','Apr': '04','Jun': '06','Mar': '03'}
    nmont = str(monts[mont])
    rDate = year+'-'+nmont+'-'+day
    return rDate

In [79]:
for i in range(770):
    tunInx.at[i,"Date"] = realDate(tunInx.at[i,"Date"])

KeyError: 733

In [80]:
tunInx

           Date     Price      Open      High       Low     Vol. Change %
0    2020-12-11  6,854.55  6,888.83  6,888.83  6,839.19  599.03K   -0.49%
1    2020-12-10  6,888.59  6,895.04  6,921.28  6,876.05    1.39M   -0.07%
2    2020-12-09  6,893.34  6,874.89  6,907.70  6,864.23    1.68M    0.29%
3    2020-12-08  6,873.25  6,857.74  6,883.17  6,837.52    2.74M    0.26%
4    2020-12-07  6,855.60  6,830.68  6,866.40  6,822.13    1.81M    0.39%
..          ...       ...       ...       ...       ...      ...      ...
728  2018-01-08  6,309.85  6,265.08  6,325.98  6,264.27  632.10K    0.72%
729  2018-01-05  6,265.03  6,240.59  6,265.83  6,226.92  710.57K    0.26%
730  2018-01-04  6,248.93  6,258.01  6,280.60  6,228.69  547.88K   -0.13%
731  2018-01-03  6,257.17  6,191.54  6,257.24  6,190.56  516.34K    0.87%
732  2018-01-02  6,203.27  6,287.26  6,287.26  6,175.95  368.26K   -1.25%

[733 rows x 7 columns]

In [81]:
pd.to_datetime(tunInx["Date"])

0     2020-12-11
1     2020-12-10
2     2020-12-09
3     2020-12-08
4     2020-12-07
         ...
728   2018-01-08
729   2018-01-05
730   2018-01-04
731   2018-01-03
732   2018-01-02
Name: Date, Length: 733, dtype: datetime64[ns]

In [82]:
tunInx.set_index("Date")

               Price      Open      High       Low     Vol. Change %
Date
2020-12-11  6,854.55  6,888.83  6,888.83  6,839.19  599.03K   -0.49%
2020-12-10  6,888.59  6,895.04  6,921.28  6,876.05    1.39M   -0.07%
2020-12-09  6,893.34  6,874.89  6,907.70  6,864.23    1.68M    0.29%
2020-12-08  6,873.25  6,857.74  6,883.17  6,837.52    2.74M    0.26%
2020-12-07  6,855.60  6,830.68  6,866.40  6,822.13    1.81M    0.39%
...              ...       ...       ...       ...      ...      ...
2018-01-08  6,309.85  6,265.08  6,325.98  6,264.27  632.10K    0.72%
2018-01-05  6,265.03  6,240.59  6,265.83  6,226.92  710.57K    0.26%
2018-01-04  6,248.93  6,258.01  6,280.60  6,228.69  547.88K   -0.13%
2018-01-03  6,257.17  6,191.54  6,257.24  6,190.56  516.34K    0.87%
2018-01-02  6,203.27  6,287.26  6,287.26  6,175.95  368.26K   -1.25%

[733 rows x 6 columns]

In [82]:
corp.set_index("Unnamed: 0")

,Delice,ref,ouverture,cloture,UDAH,ref.1,ouverture.1,cloture.1,SOTIPAPIER,ref.2,...,ouverture.40,cloture.40,tunisAir,ref.41,ouverture.41,cloture.41,SFBT,ref.42,ouverture.42,cloture.42
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
2018-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-03,NaN,"16,500","16,690","16,500",NaN,"2,450","2,450","2,460",NaN,"3,520",...,"36,000","36,150",NaN,"0,430","0,430","0,420",NaN,"19,400","19,310","19,880"
2018-01-04,NaN,"16,500","16,980","16,980",NaN,"2,460","2,540","2,600",NaN,"3,500",...,"36,160","36,470",NaN,"0,420","0,420","0,430",NaN,"19,880","19,880","19,780"
2018-01-05,NaN,"16,980","16,900","16,900",NaN,"2,600","2,690","2,690",NaN,"3,490",...,"36,410","36,860",NaN,"0,430","0,420","0,420",NaN,"19,780","19,620","19,780"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
soc.set_index("Unnamed: 0")

             IPI   MTT  Import  Export  BalCom    Pib1     Pib2
Unnamed: 0
2018-01-01  92.8  5.53  3129.5  4339.0     NaN  1694.2  18158.6
2018-01-02  92.8  5.53  3129.5  4339.0     NaN  1694.2  18158.6
2018-01-03  92.8  5.53  3129.5  4339.0     NaN  1694.2  18158.6
2018-01-04  92.8  5.53  3129.5  4339.0     NaN  1694.2  18158.6
2018-01-05  92.8  5.53  3129.5  4339.0     NaN  1694.2  18158.6
...          ...   ...     ...     ...     ...     ...      ...
2020-12-27   NaN   NaN     NaN     NaN -1187.8     NaN      NaN
2020-12-28   NaN   NaN     NaN     NaN -1187.8     NaN      NaN
2020-12-29   NaN   NaN     NaN     NaN -1187.8     NaN      NaN
2020-12-30   NaN   NaN     NaN     NaN -1187.8     NaN      NaN
2020-12-31   NaN   NaN     NaN     NaN -1187.8     NaN      NaN

[1096 rows x 7 columns]

In [85]:
pd.concat([soc, corp, tunInx], axis=1) #did nothing , not the right way

,Unnamed: 0,IPI,MTT,Import,Export,BalCom,Pib1,Pib2,Unnamed: 0,Delice,...,ref.42,ouverture.42,cloture.42,Date,Price,Open,High,Low,Vol.,Change %
0,2018-01-01,92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,2018-01-01,NaN,...,NaN,NaN,NaN,2020-12-11,"6,854.55","6,888.83","6,888.83","6,839.19",599.03K,-0.49%
1,2018-01-02,92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,2018-01-02,NaN,...,NaN,NaN,NaN,2020-12-10,"6,888.59","6,895.04","6,921.28","6,876.05",1.39M,-0.07%
2,2018-01-03,92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,2018-01-03,NaN,...,"19,400","19,310","19,880",2020-12-09,"6,893.34","6,874.89","6,907.70","6,864.23",1.68M,0.29%
3,2018-01-04,92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,2018-01-04,NaN,...,"19,880","19,880","19,780",2020-12-08,"6,873.25","6,857.74","6,883.17","6,837.52",2.74M,0.26%
4,2018-01-05,92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,2018-01-05,NaN,...,"19,780","19,620","19,780",2020-12-07,"6,855.60","6,830.68","6,866.40","6,822.13",1.81M,0.39%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1091,2020-12-27,NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,2020-12-27,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1092,2020-12-28,NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,2020-12-28,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1093,2020-12-29,NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,2020-12-29,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1094,2020-12-30,NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,2020-12-30,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1095,2020-12-31,NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,2020-12-31,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
soc

      Unnamed: 0   IPI   MTT  Import  Export  BalCom    Pib1     Pib2
0     2018-01-01  92.8  5.53  3129.5  4339.0     NaN  1694.2  18158.6
1     2018-01-02  92.8  5.53  3129.5  4339.0     NaN  1694.2  18158.6
2     2018-01-03  92.8  5.53  3129.5  4339.0     NaN  1694.2  18158.6
3     2018-01-04  92.8  5.53  3129.5  4339.0     NaN  1694.2  18158.6
4     2018-01-05  92.8  5.53  3129.5  4339.0     NaN  1694.2  18158.6
...          ...   ...   ...     ...     ...     ...     ...      ...
1091  2020-12-27   NaN   NaN     NaN     NaN -1187.8     NaN      NaN
1092  2020-12-28   NaN   NaN     NaN     NaN -1187.8     NaN      NaN
1093  2020-12-29   NaN   NaN     NaN     NaN -1187.8     NaN      NaN
1094  2020-12-30   NaN   NaN     NaN     NaN -1187.8     NaN      NaN
1095  2020-12-31   NaN   NaN     NaN     NaN -1187.8     NaN      NaN

[1096 rows x 8 columns]

In [101]:
a=pd.merge(soc, tunInx, left_on=["Unnamed: 0"],right_on=["Date"],how='left') #pandas.merge() is not a good way too

In [105]:
sndC=soc.join(corp, lsuffix='_Unnamed: 0', rsuffix= '_Unnamed: 0')#pandas.DataFrame.join() is the best way

In [106]:
sndC

,Unnamed: 0_Unnamed: 0,IPI,MTT,Import,Export,BalCom,Pib1,Pib2,Unnamed: 0_Unnamed: 0,Delice,...,ouverture.40,cloture.40,tunisAir,ref.41,ouverture.41,cloture.41,SFBT,ref.42,ouverture.42,cloture.42
0,2018-01-01,92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,2018-01-01,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-02,92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,2018-01-02,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-03,92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,2018-01-03,NaN,...,"36,000","36,150",NaN,"0,430","0,430","0,420",NaN,"19,400","19,310","19,880"
3,2018-01-04,92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,2018-01-04,NaN,...,"36,160","36,470",NaN,"0,420","0,420","0,430",NaN,"19,880","19,880","19,780"
4,2018-01-05,92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,2018-01-05,NaN,...,"36,410","36,860",NaN,"0,430","0,420","0,420",NaN,"19,780","19,620","19,780"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1091,2020-12-27,NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,2020-12-27,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1092,2020-12-28,NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,2020-12-28,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1093,2020-12-29,NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,2020-12-29,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1094,2020-12-30,NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,2020-12-30,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1095,2020-12-31,NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,2020-12-31,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
sndC.set_index("Unnamed: 0_Unnamed: 0")

,IPI,MTT,Import,Export,BalCom,Pib1,Pib2,Delice,ref,ouverture,...,ouverture.40,cloture.40,tunisAir,ref.41,ouverture.41,cloture.41,SFBT,ref.42,ouverture.42,cloture.42
Unnamed: 0_Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
"(2018-01-01, 2018-01-01)",92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2018-01-02, 2018-01-02)",92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2018-01-03, 2018-01-03)",92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,NaN,"16,500","16,690",...,"36,000","36,150",NaN,"0,430","0,430","0,420",NaN,"19,400","19,310","19,880"
"(2018-01-04, 2018-01-04)",92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,NaN,"16,500","16,980",...,"36,160","36,470",NaN,"0,420","0,420","0,430",NaN,"19,880","19,880","19,780"
"(2018-01-05, 2018-01-05)",92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,NaN,"16,980","16,900",...,"36,410","36,860",NaN,"0,430","0,420","0,420",NaN,"19,780","19,620","19,780"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(2020-12-27, 2020-12-27)",NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2020-12-28, 2020-12-28)",NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2020-12-29, 2020-12-29)",NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2020-12-30, 2020-12-30)",NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2020-12-31, 2020-12-31)",NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
tunInx = tunInx.set_index('Date')

In [84]:
tunInx

               Price      Open      High       Low     Vol. Change %
Date
2020-12-11  6,854.55  6,888.83  6,888.83  6,839.19  599.03K   -0.49%
2020-12-10  6,888.59  6,895.04  6,921.28  6,876.05    1.39M   -0.07%
2020-12-09  6,893.34  6,874.89  6,907.70  6,864.23    1.68M    0.29%
2020-12-08  6,873.25  6,857.74  6,883.17  6,837.52    2.74M    0.26%
2020-12-07  6,855.60  6,830.68  6,866.40  6,822.13    1.81M    0.39%
...              ...       ...       ...       ...      ...      ...
2018-01-08  6,309.85  6,265.08  6,325.98  6,264.27  632.10K    0.72%
2018-01-05  6,265.03  6,240.59  6,265.83  6,226.92  710.57K    0.26%
2018-01-04  6,248.93  6,258.01  6,280.60  6,228.69  547.88K   -0.13%
2018-01-03  6,257.17  6,191.54  6,257.24  6,190.56  516.34K    0.87%
2018-01-02  6,203.27  6,287.26  6,287.26  6,175.95  368.26K   -1.25%

[733 rows x 6 columns]

In [85]:
b=soc.set_index('Unnamed: 0').join(corp.set_index('Unnamed: 0'))
b

,IPI,MTT,Import,Export,BalCom,Pib1,Pib2,Delice,ref,ouverture,...,ouverture.40,cloture.40,tunisAir,ref.41,ouverture.41,cloture.41,SFBT,ref.42,ouverture.42,cloture.42
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
2018-01-01,92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-02,92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-03,92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,NaN,"16,500","16,690",...,"36,000","36,150",NaN,"0,430","0,430","0,420",NaN,"19,400","19,310","19,880"
2018-01-04,92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,NaN,"16,500","16,980",...,"36,160","36,470",NaN,"0,420","0,420","0,430",NaN,"19,880","19,880","19,780"
2018-01-05,92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,NaN,"16,980","16,900",...,"36,410","36,860",NaN,"0,430","0,420","0,420",NaN,"19,780","19,620","19,780"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-27,NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-28,NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-29,NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-30,NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-31,NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
c=b.join(tunInx)

In [87]:
c.to_csv('test5.csv') #saving

In [88]:
c

,IPI,MTT,Import,Export,BalCom,Pib1,Pib2,Delice,ref,ouverture,...,SFBT,ref.42,ouverture.42,cloture.42,Price,Open,High,Low,Vol.,Change %
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
2018-01-01,92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-02,92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"6,203.27","6,287.26","6,287.26","6,175.95",368.26K,-1.25%
2018-01-03,92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,NaN,"16,500","16,690",...,NaN,"19,400","19,310","19,880","6,257.17","6,191.54","6,257.24","6,190.56",516.34K,0.87%
2018-01-04,92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,NaN,"16,500","16,980",...,NaN,"19,880","19,880","19,780","6,248.93","6,258.01","6,280.60","6,228.69",547.88K,-0.13%
2018-01-05,92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,NaN,"16,980","16,900",...,NaN,"19,780","19,620","19,780","6,265.03","6,240.59","6,265.83","6,226.92",710.57K,0.26%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-27,NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-28,NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-29,NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-30,NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-31,NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<h3>2/- Suprresion des collnes en NaN : </h3>

In [89]:
a = pd.read_csv('test5.csv')

In [92]:
a = a[a['Vol.'].notna()]
a

,Unnamed: 0,IPI,MTT,Import,Export,BalCom,Pib1,Pib2,Delice,ref,...,SFBT,ref.42,ouverture.42,cloture.42,Price,Open,High,Low,Vol.,Change %
1,2018-01-02,92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,NaN,NaN,...,NaN,NaN,NaN,NaN,"6,203.27","6,287.26","6,287.26","6,175.95",368.26K,-1.25%
2,2018-01-03,92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,NaN,"16,500",...,NaN,"19,400","19,310","19,880","6,257.17","6,191.54","6,257.24","6,190.56",516.34K,0.87%
3,2018-01-04,92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,NaN,"16,500",...,NaN,"19,880","19,880","19,780","6,248.93","6,258.01","6,280.60","6,228.69",547.88K,-0.13%
4,2018-01-05,92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,NaN,"16,980",...,NaN,"19,780","19,620","19,780","6,265.03","6,240.59","6,265.83","6,226.92",710.57K,0.26%
7,2018-01-08,92.8,5.53,3129.5,4339.0,NaN,1694.2,18158.6,NaN,"16,900",...,NaN,"19,780","19,780","19,900","6,309.85","6,265.08","6,325.98","6,264.27",632.10K,0.72%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1071,2020-12-07,NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"6,855.60","6,830.68","6,866.40","6,822.13",1.81M,0.39%
1072,2020-12-08,NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"6,873.25","6,857.74","6,883.17","6,837.52",2.74M,0.26%
1073,2020-12-09,NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"6,893.34","6,874.89","6,907.70","6,864.23",1.68M,0.29%
1074,2020-12-10,NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"6,888.59","6,895.04","6,921.28","6,876.05",1.39M,-0.07%
1075,2020-12-11,NaN,NaN,NaN,NaN,-1187.8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"6,854.55","6,888.83","6,888.83","6,839.19",599.03K,-0.49%

In [93]:
#replacing missing values
a.fillna(method='ffill', inplace=True)
a.fillna(method='bfill', inplace=True)
a

,Unnamed: 0,IPI,MTT,Import,Export,BalCom,Pib1,Pib2,Delice,ref,...,SFBT,ref.42,ouverture.42,cloture.42,Price,Open,High,Low,Vol.,Change %
1,2018-01-02,92.8,5.53,3129.5,4339.0,-1221.8,1694.2,18158.6,NaN,"16,500",...,NaN,"19,400","19,310","19,880","6,203.27","6,287.26","6,287.26","6,175.95",368.26K,-1.25%
2,2018-01-03,92.8,5.53,3129.5,4339.0,-1221.8,1694.2,18158.6,NaN,"16,500",...,NaN,"19,400","19,310","19,880","6,257.17","6,191.54","6,257.24","6,190.56",516.34K,0.87%
3,2018-01-04,92.8,5.53,3129.5,4339.0,-1221.8,1694.2,18158.6,NaN,"16,500",...,NaN,"19,880","19,880","19,780","6,248.93","6,258.01","6,280.60","6,228.69",547.88K,-0.13%
4,2018-01-05,92.8,5.53,3129.5,4339.0,-1221.8,1694.2,18158.6,NaN,"16,980",...,NaN,"19,780","19,620","19,780","6,265.03","6,240.59","6,265.83","6,226.92",710.57K,0.26%
7,2018-01-08,92.8,5.53,3129.5,4339.0,-1221.8,1694.2,18158.6,NaN,"16,900",...,NaN,"19,780","19,780","19,900","6,309.85","6,265.08","6,325.98","6,264.27",632.10K,0.72%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1071,2020-12-07,89.1,6.13,3621.0,4507.6,-1187.8,1611.6,17369.8,NaN,"14,640",...,NaN,"19,190","19,230","19,190","6,855.60","6,830.68","6,866.40","6,822.13",1.81M,0.39%
1072,2020-12-08,89.1,6.13,3621.0,4507.6,-1187.8,1611.6,17369.8,NaN,"14,640",...,NaN,"19,190","19,230","19,190","6,873.25","6,857.74","6,883.17","6,837.52",2.74M,0.26%
1073,2020-12-09,89.1,6.13,3621.0,4507.6,-1187.8,1611.6,17369.8,NaN,"14,640",...,NaN,"19,190","19,230","19,190","6,893.34","6,874.89","6,907.70","6,864.23",1.68M,0.29%
1074,2020-12-10,89.1,6.13,3621.0,4507.6,-1187.8,1611.6,17369.8,NaN,"14,640",...,NaN,"19,190","19,230","19,190","6,888.59","6,895.04","6,921.28","6,876.05",1.39M,-0.07%
1075,2020-12-11,89.1,6.13,3621.0,4507.6,-1187.8,1611.6,17369.8,NaN,"14,640",...,NaN,"19,190","19,230","19,190","6,854.55","6,888.83","6,888.83","6,839.19",599.03K,-0.49%

In [41]:
import numpy as np 
for k in a.columns : 
    print(k)

Unnamed: 0
IPI
MTT
Import
Export
BalCom
Pib1
Pib2
ref
ouverture
cloture
ref.1
ouverture.1
cloture.1
ref.2
ouverture.2
cloture.2
mbps
ref.3
ouverture.3
cloture.3
ref.4
ouverture.4
cloture.4
ref.5
ouverture.5
cloture.5
ref.6
ouverture.6
cloture.6
ref.7
ouverture.7
cloture.7
ref.8
ouverture.8
cloture.8
ref.9
ouverture.9
cloture.9
ref.10
ouverture.10
cloture.10
ref.11
ouverture.11
cloture.11
ref.12
ouverture.12
cloture.12
ref.13
ouverture.13
cloture.13
ref.14
ouverture.14
cloture.14
ref.15
ouverture.15
cloture.15
ref.16
ouverture.16
cloture.16
ref.17
ouverture.17
cloture.17
ref.18
ouverture.18
cloture.18
ref.19
ouverture.19
cloture.19
ref.20
ouverture.20
cloture.20
ref.21
ouverture.21
cloture.21
ref.22
ouverture.22
cloture.22
ref.23
ouverture.23
cloture.23
ref.24
ouverture.24
cloture.24
ref.25
ouverture.25
cloture.25
ref.26
ouverture.26
cloture.26
ref.27
ouverture.27
cloture.27
ref.28
ouverture.28
cloture.28
ref.29
ouverture.29
cloture.29
ref.30
ouverture.30
cloture.30
ref.31
ouverture.31
cloture.31
ref.32
ouverture.32
cloture.32
ref.33
ouverture.33
cloture.33
ref.34
ouverture.34
cloture.34
ref.35
ouverture.35
cloture.35
ref.36
ouverture.36
cloture.36
ref.37
ouverture.37
cloture.37
ref.38
ouverture.38
cloture.38
ref.39
ouverture.39
cloture.39
ref.40
ouverture.40
cloture.40
ref.41
ouverture.41
cloture.41
ref.42
ouverture.42
cloture.42
Price
Open
High
Low
Vol.
Change %

In [94]:
a.set_index("Unnamed: 0")

,IPI,MTT,Import,Export,BalCom,Pib1,Pib2,Delice,ref,ouverture,...,SFBT,ref.42,ouverture.42,cloture.42,Price,Open,High,Low,Vol.,Change %
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
2018-01-02,92.8,5.53,3129.5,4339.0,-1221.8,1694.2,18158.6,NaN,"16,500","16,690",...,NaN,"19,400","19,310","19,880","6,203.27","6,287.26","6,287.26","6,175.95",368.26K,-1.25%
2018-01-03,92.8,5.53,3129.5,4339.0,-1221.8,1694.2,18158.6,NaN,"16,500","16,690",...,NaN,"19,400","19,310","19,880","6,257.17","6,191.54","6,257.24","6,190.56",516.34K,0.87%
2018-01-04,92.8,5.53,3129.5,4339.0,-1221.8,1694.2,18158.6,NaN,"16,500","16,980",...,NaN,"19,880","19,880","19,780","6,248.93","6,258.01","6,280.60","6,228.69",547.88K,-0.13%
2018-01-05,92.8,5.53,3129.5,4339.0,-1221.8,1694.2,18158.6,NaN,"16,980","16,900",...,NaN,"19,780","19,620","19,780","6,265.03","6,240.59","6,265.83","6,226.92",710.57K,0.26%
2018-01-08,92.8,5.53,3129.5,4339.0,-1221.8,1694.2,18158.6,NaN,"16,900","16,900",...,NaN,"19,780","19,780","19,900","6,309.85","6,265.08","6,325.98","6,264.27",632.10K,0.72%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-07,89.1,6.13,3621.0,4507.6,-1187.8,1611.6,17369.8,NaN,"14,640","14,560",...,NaN,"19,190","19,230","19,190","6,855.60","6,830.68","6,866.40","6,822.13",1.81M,0.39%
2020-12-08,89.1,6.13,3621.0,4507.6,-1187.8,1611.6,17369.8,NaN,"14,640","14,560",...,NaN,"19,190","19,230","19,190","6,873.25","6,857.74","6,883.17","6,837.52",2.74M,0.26%
2020-12-09,89.1,6.13,3621.0,4507.6,-1187.8,1611.6,17369.8,NaN,"14,640","14,560",...,NaN,"19,190","19,230","19,190","6,893.34","6,874.89","6,907.70","6,864.23",1.68M,0.29%
2020-12-10,89.1,6.13,3621.0,4507.6,-1187.8,1611.6,17369.8,NaN,"14,640","14,560",...,NaN,"19,190","19,230","19,190","6,888.59","6,895.04","6,921.28","6,876.05",1.39M,-0.07%
2020-12-11,89.1,6.13,3621.0,4507.6,-1187.8,1611.6,17369.8,NaN,"14,640","14,560",...,NaN,"19,190","19,230","19,190","6,854.55","6,888.83","6,888.83","6,839.19",599.03K,-0.49%

In [105]:
#dealing with the Vol. column 
for i in range(1100):
    try :
        b = a.at[i,"Vol."]
        if b[-1:] == 'K':
            a.at[i,"Vol."] = float(b[:-1])*1000
        elif b[-1:] == 'M':
            a.at[i,"Vol."] = float(b[:-1])*1000000
    except KeyError : 
        print('no row for index # '+ str(i))
    except TypeError : 
        print('index #  '+str(i)+' allready treted, moving on .. ')

no row for index # 0
index #  1 allready treted, moving on ..
index #  2 allready treted, moving on ..
index #  3 allready treted, moving on ..
index #  4 allready treted, moving on ..
no row for index # 5
no row for index # 6
index #  7 allready treted, moving on ..
index #  8 allready treted, moving on ..
index #  9 allready treted, moving on ..
index #  10 allready treted, moving on ..
index #  11 allready treted, moving on ..
no row for index # 12
no row for index # 13
index #  14 allready treted, moving on ..
index #  15 allready treted, moving on ..
index #  16 allready treted, moving on ..
index #  17 allready treted, moving on ..
index #  18 allready treted, moving on ..
no row for index # 19
no row for index # 20
index #  21 allready treted, moving on ..
index #  22 allready treted, moving on ..
index #  23 allready treted, moving on ..
index #  24 allready treted, moving on ..
index #  25 allready treted, moving on ..
no row for index # 26
no row for index # 27
index #  28 allready treted, moving on ..
index #  29 allready treted, moving on ..
index #  30 allready treted, moving on ..
index #  31 allready treted, moving on ..
index #  32 allready treted, moving on ..
no row for index # 33
no row for index # 34
index #  35 allready treted, moving on ..
index #  36 allready treted, moving on ..
index #  37 allready treted, moving on ..
index #  38 allready treted, moving on ..
index #  39 allready treted, moving on ..
no row for index # 40
no row for index # 41
index #  42 allready treted, moving on ..
index #  43 allready treted, moving on ..
index #  44 allready treted, moving on ..
index #  45 allready treted, moving on ..
index #  46 allready treted, moving on ..
no row for index # 47
no row for index # 48
index #  49 allready treted, moving on ..
index #  50 allready treted, moving on ..
index #  51 allready treted, moving on ..
index #  52 allready treted, moving on ..
index #  53 allready treted, moving on ..
no row for index # 54
no row for index # 55
index #  56 allready treted, moving on ..
index #  57 allready treted, moving on ..
index #  58 allready treted, moving on ..
index #  59 allready treted, moving on ..
index #  60 allready treted, moving on ..
no row for index # 61
no row for index # 62
index #  63 allready treted, moving on ..
index #  64 allready treted, moving on ..
index #  65 allready treted, moving on ..
index #  66 allready treted, moving on ..
index #  67 allready treted, moving on ..
no row for index # 68
no row for index # 69
index #  70 allready treted, moving on ..
index #  71 allready treted, moving on ..
index #  72 allready treted, moving on ..
index #  73 allready treted, moving on ..
index #  74 allready treted, moving on ..
no row for index # 75
no row for index # 76
index #  77 allready treted, moving on ..
no row for index # 78
index #  79 allready treted, moving on ..
index #  80 allready treted, moving on ..
index #  81 allready treted, moving on ..
no row for index # 82
no row for index # 83
index #  84 allready treted, moving on ..
index #  85 allready treted, moving on ..
index #  86 allready treted, moving on ..
index #  87 allready treted, moving on ..
index #  88 allready treted, moving on ..
no row for index # 89
no row for index # 90
index #  91 allready treted, moving on ..
index #  92 allready treted, moving on ..
index #  93 allready treted, moving on ..
index #  94 allready treted, moving on ..
index #  95 allready treted, moving on ..
no row for index # 96
no row for index # 97
no row for index # 98
index #  99 allready treted, moving on ..
index #  100 allready treted, moving on ..
index #  101 allready treted, moving on ..
index #  102 allready treted, moving on ..
no row for index # 103
no row for index # 104
index #  105 allready treted, moving on ..
index #  106 allready treted, moving on ..
index #  107 allready treted, moving on ..
index #  108 allready treted, moving on ..
index #  109 allready treted, moving on ..
no row for index # 110
no row for index # 111
index #  112 allready treted, moving on ..
index #  113 allready treted, moving on ..
index #  114 allready treted, moving on ..
index #  115 allready treted, moving on ..
index #  116 allready treted, moving on ..
no row for index # 117
no row for index # 118
index #  119 allready treted, moving on ..
no row for index # 120
index #  121 allready treted, moving on ..
index #  122 allready treted, moving on ..
index #  123 allready treted, moving on ..
no row for index # 124
no row for index # 125
index #  126 allready treted, moving on ..
index #  127 allready treted, moving on ..
index #  128 allready treted, moving on ..
index #  129 allready treted, moving on ..
index #  130 allready treted, moving on ..
no row for index # 131
no row for index # 132
index #  133 allready treted, moving on ..
index #  134 allready treted, moving on ..
index #  135 allready treted, moving on ..
index #  136 allready treted, moving on ..
index #  137 allready treted, moving on ..
no row for index # 138
no row for index # 139
index #  140 allready treted, moving on ..
index #  141 allready treted, moving on ..
index #  142 allready treted, moving on ..
index #  143 allready treted, moving on ..
index #  144 allready treted, moving on ..
no row for index # 145
no row for index # 146
index #  147 allready treted, moving on ..
index #  148 allready treted, moving on ..
index #  149 allready treted, moving on ..
index #  150 allready treted, moving on ..
index #  151 allready treted, moving on ..
no row for index # 152
no row for index # 153
index #  154 allready treted, moving on ..
index #  155 allready treted, moving on ..
index #  156 allready treted, moving on ..
index #  157 allready treted, moving on ..
index #  158 allready treted, moving on ..
no row for index # 159
no row for index # 160
index #  161 allready treted, moving on ..
index #  162 allready treted, moving on ..
index #  163 allready treted, moving on ..
index #  164 allready treted, moving on ..
no row for index # 165
no row for index # 166
no row for index # 167
index #  168 allready treted, moving on ..
index #  169 allready treted, moving on ..
index #  170 allready treted, moving on ..
index #  171 allready treted, moving on ..
index #  172 allready treted, moving on ..
no row for index # 173
no row for index # 174
index #  175 allready treted, moving on ..
index #  176 allready treted, moving on ..
index #  177 allready treted, moving on ..
index #  178 allready treted, moving on ..
index #  179 allready treted, moving on ..
no row for index # 180
no row for index # 181
index #  182 allready treted, moving on ..
index #  183 allready treted, moving on ..
index #  184 allready treted, moving on ..
index #  185 allready treted, moving on ..
index #  186 allready treted, moving on ..
no row for index # 187
no row for index # 188
index #  189 allready treted, moving on ..
index #  190 allready treted, moving on ..
index #  191 allready treted, moving on ..
index #  192 allready treted, moving on ..
index #  193 allready treted, moving on ..
no row for index # 194
no row for index # 195
index #  196 allready treted, moving on ..
index #  197 allready treted, moving on ..
index #  198 allready treted, moving on ..
index #  199 allready treted, moving on ..
index #  200 allready treted, moving on ..
no row for index # 201
no row for index # 202
index #  203 allready treted, moving on ..
index #  204 allready treted, moving on ..
no row for index # 205
index #  206 allready treted, moving on ..
index #  207 allready treted, moving on ..
no row for index # 208
no row for index # 209
index #  210 allready treted, moving on ..
index #  211 allready treted, moving on ..
index #  212 allready treted, moving on ..
index #  213 allready treted, moving on ..
index #  214 allready treted, moving on ..
no row for index # 215
no row for index # 216
index #  217 allready treted, moving on ..
index #  218 allready treted, moving on ..
index #  219 allready treted, moving on ..
index #  220 allready treted, moving on ..
index #  221 allready treted, moving on ..
no row for index # 222
no row for index # 223
no row for index # 224
index #  225 allready treted, moving on ..
index #  226 allready treted, moving on ..
index #  227 allready treted, moving on ..
index #  228 allready treted, moving on ..
no row for index # 229
no row for index # 230
index #  231 allready treted, moving on ..
no row for index # 232
no row for index # 233
index #  234 allready treted, moving on ..
index #  235 allready treted, moving on ..
no row for index # 236
no row for index # 237
index #  238 allready treted, moving on ..
index #  239 allready treted, moving on ..
index #  240 allready treted, moving on ..
index #  241 allready treted, moving on ..
index #  242 allready treted, moving on ..
no row for index # 243
no row for index # 244
index #  245 allready treted, moving on ..
index #  246 allready treted, moving on ..
index #  247 allready treted, moving on ..
index #  248 allready treted, moving on ..
index #  249 allready treted, moving on ..
no row for index # 250
no row for index # 251
index #  252 allready treted, moving on ..
no row for index # 253
no row for index # 254
index #  255 allready treted, moving on ..
index #  256 allready treted, moving on ..
no row for index # 257
no row for index # 258
index #  259 allready treted, moving on ..
index #  260 allready treted, moving on ..
index #  261 allready treted, moving on ..
index #  262 allready treted, moving on ..
index #  263 allready treted, moving on ..
no row for index # 264
no row for index # 265
index #  266 allready treted, moving on ..
index #  267 allready treted, moving on ..
index #  268 allready treted, moving on ..
index #  269 allready treted, moving on ..
index #  270 allready treted, moving on ..
no row for index # 271
no row for index # 272
index #  273 allready treted, moving on ..
index #  274 allready treted, moving on ..
index #  275 allready treted, moving on ..
index #  276 allready treted, moving on ..
index #  277 allready treted, moving on ..
no row for index # 278
no row for index # 279
index #  280 allready treted, moving on ..
index #  281 allready treted, moving on ..
index #  282 allready treted, moving on ..
index #  283 allready treted, moving on ..
index #  284 allready treted, moving on ..
no row for index # 285
no row for index # 286
no row for index # 287
index #  288 allready treted, moving on ..
index #  289 allready treted, moving on ..
index #  290 allready treted, moving on ..
index #  291 allready treted, moving on ..
no row for index # 292
no row for index # 293
index #  294 allready treted, moving on ..
index #  295 allready treted, moving on ..
index #  296 allready treted, moving on ..
index #  297 allready treted, moving on ..
index #  298 allready treted, moving on ..
no row for index # 299
no row for index # 300
index #  301 allready treted, moving on ..
index #  302 allready treted, moving on ..
index #  303 allready treted, moving on ..
index #  304 allready treted, moving on ..
index #  305 allready treted, moving on ..
no row for index # 306
no row for index # 307
index #  308 allready treted, moving on ..
index #  309 allready treted, moving on ..
index #  310 allready treted, moving on ..
index #  311 allready treted, moving on ..
index #  312 allready treted, moving on ..
no row for index # 313
no row for index # 314
index #  315 allready treted, moving on ..
index #  316 allready treted, moving on ..
index #  317 allready treted, moving on ..
index #  318 allready treted, moving on ..
index #  319 allready treted, moving on ..
no row for index # 320
no row for index # 321
index #  322 allready treted, moving on ..
no row for index # 323
index #  324 allready treted, moving on ..
index #  325 allready treted, moving on ..
index #  326 allready treted, moving on ..
no row for index # 327
no row for index # 328
index #  329 allready treted, moving on ..
index #  330 allready treted, moving on ..
index #  331 allready treted, moving on ..
index #  332 allready treted, moving on ..
index #  333 allready treted, moving on ..
no row for index # 334
no row for index # 335
index #  336 allready treted, moving on ..
index #  337 allready treted, moving on ..
index #  338 allready treted, moving on ..
index #  339 allready treted, moving on ..
index #  340 allready treted, moving on ..
no row for index # 341
no row for index # 342
index #  343 allready treted, moving on ..
index #  344 allready treted, moving on ..
index #  345 allready treted, moving on ..
index #  346 allready treted, moving on ..
index #  347 allready treted, moving on ..
no row for index # 348
no row for index # 349
index #  350 allready treted, moving on ..
index #  351 allready treted, moving on ..
index #  352 allready treted, moving on ..
index #  353 allready treted, moving on ..
index #  354 allready treted, moving on ..
no row for index # 355
no row for index # 356
index #  357 allready treted, moving on ..
index #  358 allready treted, moving on ..
index #  359 allready treted, moving on ..
index #  360 allready treted, moving on ..
index #  361 allready treted, moving on ..
no row for index # 362
no row for index # 363
index #  364 allready treted, moving on ..
no row for index # 365
index #  366 allready treted, moving on ..
index #  367 allready treted, moving on ..
index #  368 allready treted, moving on ..
no row for index # 369
no row for index # 370
index #  371 allready treted, moving on ..
index #  372 allready treted, moving on ..
index #  373 allready treted, moving on ..
index #  374 allready treted, moving on ..
index #  375 allready treted, moving on ..
no row for index # 376
no row for index # 377
no row for index # 378
index #  379 allready treted, moving on ..
index #  380 allready treted, moving on ..
index #  381 allready treted, moving on ..
index #  382 allready treted, moving on ..
no row for index # 383
no row for index # 384
index #  385 allready treted, moving on ..
index #  386 allready treted, moving on ..
index #  387 allready treted, moving on ..
index #  388 allready treted, moving on ..
index #  389 allready treted, moving on ..
no row for index # 390
no row for index # 391
index #  392 allready treted, moving on ..
index #  393 allready treted, moving on ..
index #  394 allready treted, moving on ..
index #  395 allready treted, moving on ..
index #  396 allready treted, moving on ..
no row for index # 397
no row for index # 398
index #  399 allready treted, moving on ..
index #  400 allready treted, moving on ..
index #  401 allready treted, moving on ..
index #  402 allready treted, moving on ..
index #  403 allready treted, moving on ..
no row for index # 404
no row for index # 405
index #  406 allready treted, moving on ..
index #  407 allready treted, moving on ..
index #  408 allready treted, moving on ..
index #  409 allready treted, moving on ..
index #  410 allready treted, moving on ..
no row for index # 411
no row for index # 412
index #  413 allready treted, moving on ..
index #  414 allready treted, moving on ..
index #  415 allready treted, moving on ..
index #  416 allready treted, moving on ..
index #  417 allready treted, moving on ..
no row for index # 418
no row for index # 419
index #  420 allready treted, moving on ..
index #  421 allready treted, moving on ..
index #  422 allready treted, moving on ..
index #  423 allready treted, moving on ..
index #  424 allready treted, moving on ..
no row for index # 425
no row for index # 426
index #  427 allready treted, moving on ..
index #  428 allready treted, moving on ..
index #  429 allready treted, moving on ..
index #  430 allready treted, moving on ..
index #  431 allready treted, moving on ..
no row for index # 432
no row for index # 433
index #  434 allready treted, moving on ..
index #  435 allready treted, moving on ..
index #  436 allready treted, moving on ..
index #  437 allready treted, moving on ..
index #  438 allready treted, moving on ..
no row for index # 439
no row for index # 440
index #  441 allready treted, moving on ..
index #  442 allready treted, moving on ..
no row for index # 443
index #  444 allready treted, moving on ..
index #  445 allready treted, moving on ..
no row for index # 446
no row for index # 447
index #  448 allready treted, moving on ..
index #  449 allready treted, moving on ..
index #  450 allready treted, moving on ..
index #  451 allready treted, moving on ..
index #  452 allready treted, moving on ..
no row for index # 453
no row for index # 454
index #  455 allready treted, moving on ..
index #  456 allready treted, moving on ..
index #  457 allready treted, moving on ..
index #  458 allready treted, moving on ..
index #  459 allready treted, moving on ..
no row for index # 460
no row for index # 461
index #  462 allready treted, moving on ..
no row for index # 463
index #  464 allready treted, moving on ..
index #  465 allready treted, moving on ..
index #  466 allready treted, moving on ..
no row for index # 467
no row for index # 468
index #  469 allready treted, moving on ..
index #  470 allready treted, moving on ..
index #  471 allready treted, moving on ..
index #  472 allready treted, moving on ..
index #  473 allready treted, moving on ..
no row for index # 474
no row for index # 475
index #  476 allready treted, moving on ..
index #  477 allready treted, moving on ..
index #  478 allready treted, moving on ..
index #  479 allready treted, moving on ..
index #  480 allready treted, moving on ..
no row for index # 481
no row for index # 482
index #  483 allready treted, moving on ..
index #  484 allready treted, moving on ..
no row for index # 485
index #  486 allready treted, moving on ..
index #  487 allready treted, moving on ..
no row for index # 488
no row for index # 489
index #  490 allready treted, moving on ..
index #  491 allready treted, moving on ..
index #  492 allready treted, moving on ..
index #  493 allready treted, moving on ..
index #  494 allready treted, moving on ..
no row for index # 495
no row for index # 496
index #  497 allready treted, moving on ..
index #  498 allready treted, moving on ..
index #  499 allready treted, moving on ..
index #  500 allready treted, moving on ..
index #  501 allready treted, moving on ..
no row for index # 502
no row for index # 503
index #  504 allready treted, moving on ..
index #  505 allready treted, moving on ..
index #  506 allready treted, moving on ..
index #  507 allready treted, moving on ..
index #  508 allready treted, moving on ..
no row for index # 509
no row for index # 510
index #  511 allready treted, moving on ..
index #  512 allready treted, moving on ..
index #  513 allready treted, moving on ..
index #  514 allready treted, moving on ..
index #  515 allready treted, moving on ..
no row for index # 516
no row for index # 517
index #  518 allready treted, moving on ..
no row for index # 519
no row for index # 520
no row for index # 521
index #  522 allready treted, moving on ..
no row for index # 523
no row for index # 524
index #  525 allready treted, moving on ..
index #  526 allready treted, moving on ..
index #  527 allready treted, moving on ..
index #  528 allready treted, moving on ..
index #  529 allready treted, moving on ..
no row for index # 530
no row for index # 531
index #  532 allready treted, moving on ..
index #  533 allready treted, moving on ..
index #  534 allready treted, moving on ..
index #  535 allready treted, moving on ..
index #  536 allready treted, moving on ..
no row for index # 537
no row for index # 538
index #  539 allready treted, moving on ..
index #  540 allready treted, moving on ..
index #  541 allready treted, moving on ..
index #  542 allready treted, moving on ..
index #  543 allready treted, moving on ..
no row for index # 544
no row for index # 545
index #  546 allready treted, moving on ..
index #  547 allready treted, moving on ..
index #  548 allready treted, moving on ..
index #  549 allready treted, moving on ..

In [106]:
a['Vol.']

1         368260
2         516340
3         547880
4         710570
7         632100
          ...
1071    1.81e+06
1072    2.74e+06
1073    1.68e+06
1074    1.39e+06
1075      599030
Name: Vol., Length: 733, dtype: object

In [110]:
a.dropna(how='all', axis=1)

,Unnamed: 0,IPI,MTT,Import,Export,BalCom,Pib1,Pib2,ref,ouverture,...,cloture.41,ref.42,ouverture.42,cloture.42,Price,Open,High,Low,Vol.,Change %
1,2018-01-02,92.8,5.53,3129.5,4339.0,-1221.8,1694.2,18158.6,"16,500","16,690",...,"0,420","19,400","19,310","19,880","6,203.27","6,287.26","6,287.26","6,175.95",368260,-1.25%
2,2018-01-03,92.8,5.53,3129.5,4339.0,-1221.8,1694.2,18158.6,"16,500","16,690",...,"0,420","19,400","19,310","19,880","6,257.17","6,191.54","6,257.24","6,190.56",516340,0.87%
3,2018-01-04,92.8,5.53,3129.5,4339.0,-1221.8,1694.2,18158.6,"16,500","16,980",...,"0,430","19,880","19,880","19,780","6,248.93","6,258.01","6,280.60","6,228.69",547880,-0.13%
4,2018-01-05,92.8,5.53,3129.5,4339.0,-1221.8,1694.2,18158.6,"16,980","16,900",...,"0,420","19,780","19,620","19,780","6,265.03","6,240.59","6,265.83","6,226.92",710570,0.26%
7,2018-01-08,92.8,5.53,3129.5,4339.0,-1221.8,1694.2,18158.6,"16,900","16,900",...,"0,410","19,780","19,780","19,900","6,309.85","6,265.08","6,325.98","6,264.27",632100,0.72%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1071,2020-12-07,89.1,6.13,3621.0,4507.6,-1187.8,1611.6,17369.8,"14,640","14,560",...,"0,630","19,190","19,230","19,190","6,855.60","6,830.68","6,866.40","6,822.13",1.81e+06,0.39%
1072,2020-12-08,89.1,6.13,3621.0,4507.6,-1187.8,1611.6,17369.8,"14,640","14,560",...,"0,630","19,190","19,230","19,190","6,873.25","6,857.74","6,883.17","6,837.52",2.74e+06,0.26%
1073,2020-12-09,89.1,6.13,3621.0,4507.6,-1187.8,1611.6,17369.8,"14,640","14,560",...,"0,630","19,190","19,230","19,190","6,893.34","6,874.89","6,907.70","6,864.23",1.68e+06,0.29%
1074,2020-12-10,89.1,6.13,3621.0,4507.6,-1187.8,1611.6,17369.8,"14,640","14,560",...,"0,630","19,190","19,230","19,190","6,888.59","6,895.04","6,921.28","6,876.05",1.39e+06,-0.07%
1075,2020-12-11,89.1,6.13,3621.0,4507.6,-1187.8,1611.6,17369.8,"14,640","14,560",...,"0,630","19,190","19,230","19,190","6,854.55","6,888.83","6,888.83","6,839.19",599030,-0.49%

In [114]:
#handeling the '% in the ref raw '
for i in range(1076):
    try:
        a.at[i,"Change %"] = a.at[i,"Change %"][:-1] 
    except KeyError : 
        print("jkabf")

jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf
jkabf

In [123]:
a.set_index('Unnamed: 0')

,IPI,MTT,Import,Export,BalCom,Pib1,Pib2,Delice,ref,ouverture,...,SFBT,ref.42,ouverture.42,cloture.42,Price,Open,High,Low,Vol.,Change %
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
2018-01-02,92.8,5.53,3129.5,4339.0,-1221.8,1694.2,18158.6,NaN,"16,500","16,690",...,NaN,"19,400","19,310","19,880","6,203.27","6,287.26","6,287.26","6,175.95",368260,-1.25
2018-01-03,92.8,5.53,3129.5,4339.0,-1221.8,1694.2,18158.6,NaN,"16,500","16,690",...,NaN,"19,400","19,310","19,880","6,257.17","6,191.54","6,257.24","6,190.56",516340,0.87
2018-01-04,92.8,5.53,3129.5,4339.0,-1221.8,1694.2,18158.6,NaN,"16,500","16,980",...,NaN,"19,880","19,880","19,780","6,248.93","6,258.01","6,280.60","6,228.69",547880,-0.13
2018-01-05,92.8,5.53,3129.5,4339.0,-1221.8,1694.2,18158.6,NaN,"16,980","16,900",...,NaN,"19,780","19,620","19,780","6,265.03","6,240.59","6,265.83","6,226.92",710570,0.26
2018-01-08,92.8,5.53,3129.5,4339.0,-1221.8,1694.2,18158.6,NaN,"16,900","16,900",...,NaN,"19,780","19,780","19,900","6,309.85","6,265.08","6,325.98","6,264.27",632100,0.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-07,89.1,6.13,3621.0,4507.6,-1187.8,1611.6,17369.8,NaN,"14,640","14,560",...,NaN,"19,190","19,230","19,190","6,855.60","6,830.68","6,866.40","6,822.13",1.81e+06,0.39
2020-12-08,89.1,6.13,3621.0,4507.6,-1187.8,1611.6,17369.8,NaN,"14,640","14,560",...,NaN,"19,190","19,230","19,190","6,873.25","6,857.74","6,883.17","6,837.52",2.74e+06,0.26
2020-12-09,89.1,6.13,3621.0,4507.6,-1187.8,1611.6,17369.8,NaN,"14,640","14,560",...,NaN,"19,190","19,230","19,190","6,893.34","6,874.89","6,907.70","6,864.23",1.68e+06,0.29
2020-12-10,89.1,6.13,3621.0,4507.6,-1187.8,1611.6,17369.8,NaN,"14,640","14,560",...,NaN,"19,190","19,230","19,190","6,888.59","6,895.04","6,921.28","6,876.05",1.39e+06,-0.07
2020-12-11,89.1,6.13,3621.0,4507.6,-1187.8,1611.6,17369.8,NaN,"14,640","14,560",...,NaN,"19,190","19,230","19,190","6,854.55","6,888.83","6,888.83","6,839.19",599030,-0.49

In [116]:
a.to_csv('Data.csv') #saving raw clean Data

<h3>4 /- Vectorisation et normalisation des valeurs en float64 :</h3>

In [120]:
from sklearn import preprocessing

In [170]:
a = pd.read_csv('Data.csv')
a=a.set_index('Unnamed: 0.1')
a=a.drop(["Unnamed: 0"],axis=1)

a

,IPI,MTT,Import,Export,BalCom,Pib1,Pib2,ref,ouverture,cloture,...,cloture.41,ref.42,ouverture.42,cloture.42,Price,Open,High,Low,Vol.,Change %
Unnamed: 0.1,,,,,,,,,,,,,,,,,,,,,
2018-01-02,92.8,5.53,3129.5,4339.0,-1221.8,1694.2,18158.6,16500,16690,16500,...,420,19400,19310,19880,6203.27,6287.26,6287.26,6175.95,368260,-1.25
2018-01-03,92.8,5.53,3129.5,4339.0,-1221.8,1694.2,18158.6,16500,16690,16500,...,420,19400,19310,19880,6257.17,6191.54,6257.24,6190.56,516340,0.87
2018-01-04,92.8,5.53,3129.5,4339.0,-1221.8,1694.2,18158.6,16500,16980,16980,...,430,19880,19880,19780,6248.93,6258.01,6280.60,6228.69,547880,-0.13
2018-01-05,92.8,5.53,3129.5,4339.0,-1221.8,1694.2,18158.6,16980,16900,16900,...,420,19780,19620,19780,6265.03,6240.59,6265.83,6226.92,710570,0.26
2018-01-08,92.8,5.53,3129.5,4339.0,-1221.8,1694.2,18158.6,16900,16900,16920,...,410,19780,19780,19900,6309.85,6265.08,6325.98,6264.27,632100,0.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-07,89.1,6.13,3621.0,4507.6,-1187.8,1611.6,17369.8,14640,14560,14640,...,630,19190,19230,19190,6855.60,6830.68,6866.40,6822.13,1810000,0.39
2020-12-08,89.1,6.13,3621.0,4507.6,-1187.8,1611.6,17369.8,14640,14560,14640,...,630,19190,19230,19190,6873.25,6857.74,6883.17,6837.52,2740000,0.26
2020-12-09,89.1,6.13,3621.0,4507.6,-1187.8,1611.6,17369.8,14640,14560,14640,...,630,19190,19230,19190,6893.34,6874.89,6907.70,6864.23,1680000,0.29
2020-12-10,89.1,6.13,3621.0,4507.6,-1187.8,1611.6,17369.8,14640,14560,14640,...,630,19190,19230,19190,6888.59,6895.04,6921.28,6876.05,1390000,-0.07
2020-12-11,89.1,6.13,3621.0,4507.6,-1187.8,1611.6,17369.8,14640,14560,14640,...,630,19190,19230,19190,6854.55,6888.83,6888.83,6839.19,599030,-0.49

<h4>Sources</h4>
<a href= https://scikit-learn.org/stable/modules/preprocessing.html#normalization>lien scikit-learn </a>
<a href = https://towardsdatascience.com/getting-rich-quick-with-machine-learning-and-stock-market-predictions-696802da94fe> lien inspiration du projet </a>